@import url("https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  color: #332F21;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random");
  background-position: center center;
  background-size: cover; }

@supports (background-blend-mode: multiply) {
  body {
    background-image: linear-gradient(#4A4A4A, #212121), url("https://source.unsplash.com/random");
    background-blend-mode: multiply; } }

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3333; }

.card {
  display: flex;
  flex-direction: column;
  max-width: 62rem;
  min-height: 75vh;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.card__image-container {
  max-height: 15rem;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-position: center center; }

.card__image {
  opacity: 0;
  pointer-events: none; }

.card__contents {
  display: flex;
  flex-direction: column;
  padding: 2rem; }

.card__header,
.card__footer {
  flex: 0 0 auto; }

.card__footer {
  margin-top: 2rem;
  text-align: right; }

.card__body {
  flex: 1 1 auto; }

.card__title {
  margin-top: 0; }

@media only screen and (min-width: 53rem) {
  .card {
    flex-direction: row;
    min-height: 60vh; }
  .card__image-container {
    flex: 0 1 45%;
    max-height: inherit; }
  .card__contents {
    flex: 1 1 55%;
    padding: 3rem; } }

[class^="icon--"] {
  font-family: 'FontAwesome';
  font-style: normal;
  line-height: 1; }

[class^="social-button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.4rem;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
  margin-right: 0.1rem; }

.icon--twitter::before {
  content: '\f099'; }

.icon--facebook::before {
  content: '\f09a'; }

.icon--pintrest::before {
  content: '\f231'; }

.social-button--twitter {
  background-color: #32b9e7; }

.social-button--twitter:hover {
  background-color: #2a9dc4; }

.social-button--facebook {
  background-color: #4b70ab; }

.social-button--facebook:hover {
  background-color: #3f5f91; }

.social-button--pintrest {
  background-color: #d63533; }

.social-button--pintrest:hover {
  background-color: #b52d2b; }
